<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT agentSearch ANY>
<!ATTLIST agentSearch id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT error ANY>
<!ATTLIST error id ID #REQUIRED>
<!ELEMENT genericTypes ANY>
<!ATTLIST genericTypes id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT basicContentControl ANY>
<!ATTLIST basicContentControl id ID #REQUIRED>
<!ELEMENT serviceProperties ANY>
<!ATTLIST serviceProperties id ID #REQUIRED>
<!ELEMENT mainNavigationProperties ANY>
<!ATTLIST mainNavigationProperties id ID #REQUIRED>
<!ELEMENT searchProperties ANY>
<!ATTLIST searchProperties id ID #REQUIRED>
<!ELEMENT createProperty ANY>
<!ATTLIST createProperty id ID #REQUIRED>
<!ELEMENT propertyDetail ANY>
<!ATTLIST propertyDetail id ID #REQUIRED>
<!ELEMENT uAE ANY>
<!ATTLIST uAE id ID #REQUIRED>
<!ELEMENT pROPERTIES ANY>
<!ATTLIST pROPERTIES id ID #REQUIRED>
<!ELEMENT addProperty ANY>
<!ATTLIST addProperty id ID #REQUIRED>
<!ELEMENT advancedSearch ANY>
<!ATTLIST advancedSearch id ID #REQUIRED>
<!ELEMENT dETAILPROPERTIES ANY>
<!ATTLIST dETAILPROPERTIES id ID #REQUIRED>
<!ELEMENT eNQUIRIES ANY>
<!ATTLIST eNQUIRIES id ID #REQUIRED>
<!ELEMENT viewEnquiry ANY>
<!ATTLIST viewEnquiry id ID #REQUIRED>
<!ELEMENT OFFERS ANY>
<!ATTLIST OFFERS id ID #REQUIRED>
<!ELEMENT addOffers ANY>
<!ATTLIST addOffers id ID #REQUIRED>
<!ELEMENT registerMember ANY>
<!ATTLIST registerMember id ID #REQUIRED>
<!ELEMENT loginMember ANY>
<!ATTLIST loginMember id ID #REQUIRED>
<!ELEMENT logoutMember ANY>
<!ATTLIST logoutMember id ID #REQUIRED>
<!ELEMENT qATAR ANY>
<!ATTLIST qATAR id ID #REQUIRED>
<!ELEMENT oMAN ANY>
<!ATTLIST oMAN id ID #REQUIRED>
<!ELEMENT jORDAN ANY>
<!ATTLIST jORDAN id ID #REQUIRED>
<!ELEMENT unitDetailProperties ANY>
<!ATTLIST unitDetailProperties id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="d52e45a7-b174-48e0-ba14-b7d496f2f6ed" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-19T10:45:21" updateDate="2017-12-08T15:16:14" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1055" creatorName="Najm us Sahar" writerName="Najm us Sahar" writerID="0" template="1052" nodeTypeAlias="home">
    <mainHeading><![CDATA[Real Homes]]></mainHeading>
    <serviceSubTitle><![CDATA[We serve others as we would like to be treated.]]></serviceSubTitle>
    <serviceDescription4><![CDATA[<p>Residential and commercial sales and leasing, property management, short-term rentals.</p>]]></serviceDescription4>
    <serviceTitle3><![CDATA[PROPERTY MANAGEMENT]]></serviceTitle3>
    <serviceTitle1><![CDATA[COMMERCIAL]]></serviceTitle1>
    <serviceTitle2><![CDATA[RESIDENTIAL]]></serviceTitle2>
    <serviceDescription1><![CDATA[<p><span>Residential and commercial sales and leasing, property management, short-term rentals.</span></p>]]></serviceDescription1>
    <serviceMainTitle><![CDATA[Services]]></serviceMainTitle>
    <serviceTitle4><![CDATA[OFF PLAN PROJECTS]]></serviceTitle4>
    <serviceDescription3><![CDATA[<p>Residential and commercial sales and leasing, property management, short-term rentals.</p>]]></serviceDescription3>
    <serviceDescription><![CDATA[<p>Residential and commercial sales and leasing, property management, short-term rentals.</p>]]></serviceDescription>
    <topMenuLinks><![CDATA[[
  {
    "caption": "Home",
    "link": "umb://document/f36008c7235b4811b14993c65633baa3",
    "newWindow": false,
    "edit": false,
    "isInternal": true,
    "type": "internal",
    "title": "Home",
    "internal": "umb://document/f36008c7235b4811b14993c65633baa3",
    "internalName": "contact",
    "internalIcon": "icon-document"
  },
  {
    "caption": "About",
    "link": "umb://document/f36008c7235b4811b14993c65633baa3",
    "newWindow": false,
    "edit": false,
    "isInternal": true,
    "type": "internal",
    "title": "About",
    "internal": "umb://document/f36008c7235b4811b14993c65633baa3",
    "internalName": "contact",
    "internalIcon": "icon-document"
  },
  {
    "caption": "Blog",
    "link": "umb://document/f36008c7235b4811b14993c65633baa3",
    "newWindow": false,
    "edit": false,
    "isInternal": true,
    "type": "internal",
    "title": "Blog",
    "internal": "umb://document/f36008c7235b4811b14993c65633baa3",
    "internalName": "contact",
    "internalIcon": "icon-document"
  },
  {
    "caption": "Terms",
    "link": "umb://document/f36008c7235b4811b14993c65633baa3",
    "newWindow": false,
    "edit": false,
    "isInternal": true,
    "type": "internal",
    "title": "Terms",
    "internal": "umb://document/f36008c7235b4811b14993c65633baa3",
    "internalName": "contact",
    "internalIcon": "icon-document"
  },
  {
    "caption": "Privacy",
    "link": "umb://document/f36008c7235b4811b14993c65633baa3",
    "newWindow": false,
    "edit": false,
    "isInternal": true,
    "type": "internal",
    "title": "Privacy",
    "internal": "umb://document/f36008c7235b4811b14993c65633baa3",
    "internalName": "contact",
    "internalIcon": "icon-document"
  },
  {
    "caption": "Contact",
    "link": "umb://document/f36008c7235b4811b14993c65633baa3",
    "newWindow": false,
    "edit": false,
    "isInternal": true,
    "type": "internal",
    "title": "Contact",
    "internal": "umb://document/f36008c7235b4811b14993c65633baa3",
    "internalName": "contact",
    "internalIcon": "icon-document"
  }
]]]></topMenuLinks>
    <m6Icon><![CDATA[apart]]></m6Icon>
    <regionMenuLinks><![CDATA[[
  {
    "caption": "UAE",
    "link": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "newWindow": false,
    "internal": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "edit": false,
    "isInternal": true,
    "internalName": "Home",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "UAE"
  },
  {
    "caption": "Qatar",
    "link": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "newWindow": false,
    "internal": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "edit": false,
    "isInternal": true,
    "internalName": "Home",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Qatar"
  },
  {
    "caption": "Oman",
    "link": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "newWindow": false,
    "internal": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "edit": false,
    "isInternal": true,
    "internalName": "Home",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Oman"
  },
  {
    "caption": "Jordan",
    "link": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "newWindow": false,
    "internal": "umb://document/d52e45a7b17448e0ba14b7d496f2f6ed",
    "edit": false,
    "isInternal": true,
    "internalName": "Home",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Jordan"
  }
]]]></regionMenuLinks>
    <menuLinks><![CDATA[[
  {
    "caption": "Buy",
    "link": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "newWindow": false,
    "internal": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "edit": false,
    "isInternal": true,
    "internalName": "PropertySearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Buy"
  },
  {
    "caption": "Rent",
    "link": "umb://document/6dcd34b85c5e402e92d7d6cffff53ed2",
    "newWindow": false,
    "internal": "umb://document/6dcd34b85c5e402e92d7d6cffff53ed2",
    "edit": false,
    "isInternal": true,
    "internalName": "AgentSearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Rent"
  },
  {
    "caption": "Sell",
    "link": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "newWindow": false,
    "internal": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "edit": false,
    "isInternal": true,
    "internalName": "PropertySearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Sell"
  },
  {
    "caption": "Land Lord",
    "link": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "newWindow": false,
    "internal": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "edit": false,
    "isInternal": true,
    "internalName": "PropertySearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Land Lord"
  },
  {
    "caption": "Property Management",
    "link": "umb://document/df196b17f88d45e3886d0d85b83ece3f",
    "newWindow": false,
    "internal": "umb://document/df196b17f88d45e3886d0d85b83ece3f",
    "edit": false,
    "isInternal": true,
    "internalName": "Create Property",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Property Management"
  },
  {
    "caption": "Holiday Homes",
    "link": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "newWindow": false,
    "internal": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "edit": false,
    "isInternal": true,
    "internalName": "PropertySearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Holiday Homes"
  },
  {
    "caption": "Off Plans",
    "link": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "newWindow": false,
    "internal": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "edit": false,
    "isInternal": true,
    "internalName": "PropertySearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Off Plans"
  }
]]]></menuLinks>
    <loginIcon><![CDATA[glyphicon glyphicon-user]]></loginIcon>
    <searchIcon><![CDATA[glyphicon glyphicon-search]]></searchIcon>
    <m2Icon><![CDATA[rent]]></m2Icon>
    <searchLink><![CDATA[[
  {
    "caption": "Search",
    "link": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "newWindow": false,
    "internal": "umb://document/d836d8d5fe814e168c17110ce2932615",
    "edit": false,
    "isInternal": true,
    "internalName": "AdvancedSearch",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "Search"
  },
  {
    "caption": "Login",
    "link": "umb://document/299c8d510fb04e86af0a7de8e20795c6",
    "newWindow": false,
    "internal": "umb://document/299c8d510fb04e86af0a7de8e20795c6",
    "edit": true,
    "isInternal": true,
    "internalName": "Login",
    "internalIcon": "icon-document",
    "type": "internal",
    "title": "glyphicon glyphicon-user"
  }
]]]></searchLink>
    <m7Icon><![CDATA[pg]]></m7Icon>
    <m3Icon><![CDATA[sell]]></m3Icon>
    <m1icon><![CDATA[buy]]></m1icon>
    <m5Icon><![CDATA[loan]]></m5Icon>
    <m4Icon><![CDATA[deal]]></m4Icon>
    <pageTitle><![CDATA[Real Home]]></pageTitle>
    <contactNumber><![CDATA[+971 600 52 2233]]></contactNumber>
    <homeImage2><![CDATA[umb://media/9f79adc26f3840148e04237143a39f2b]]></homeImage2>
    <homeImage1><![CDATA[umb://media/f81f58021e4342bbae4eea70ba25251e]]></homeImage1>
    <homeImage3><![CDATA[umb://media/a20d4813b5f145faab5bf317f8e27200]]></homeImage3>
    <contactUs id="1067" key="f36008c7-235b-4811-b149-93c65633baa3" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2017-10-19T16:52:17" updateDate="2017-10-25T12:31:44" nodeName="contact" urlName="contact" path="-1,1059,1067" isDoc="" nodeType="1058" creatorName="sahar" writerName="sahar" writerID="0" template="1054" nodeTypeAlias="contactUs">
      <mainHeading><![CDATA[Real Homes]]></mainHeading>
      <pageTitle><![CDATA[Real Home A Real Estate Category Flat Bootstarp Resposive Website Template]]></pageTitle>
      <subTitle><![CDATA[Property Solutions]]></subTitle>
    </contactUs>
    <search id="1074" key="087564be-f982-47cd-8fb5-878820049c33" parentID="1059" level="2" creatorID="0" sortOrder="1" createDate="2017-10-25T10:07:32" updateDate="2017-10-31T15:48:02" nodeName="Search" urlName="search" path="-1,1059,1074" isDoc="" nodeType="1073" creatorName="sahar" writerName="sahar" writerID="0" template="1072" nodeTypeAlias="search">
      <searchBy><![CDATA[Search By Location]]></searchBy>
      <maxPrice><![CDATA[Max Price]]></maxPrice>
      <maxBed><![CDATA[Max Bed]]></maxBed>
      <minbed><![CDATA[Min Bed]]></minbed>
      <currency><![CDATA[AED]]></currency>
      <developmentLoad><![CDATA[Development Load]]></developmentLoad>
      <minPrice><![CDATA[Min Price]]></minPrice>
    </search>
    <createProperty id="1143" key="df196b17-f88d-45e3-886d-0d85b83ece3f" parentID="1059" level="2" creatorID="0" sortOrder="2" createDate="2017-11-08T10:34:38" updateDate="2017-11-08T10:34:38" nodeName="Create Property" urlName="create-property" path="-1,1059,1143" isDoc="" nodeType="1142" creatorName="sahar" writerName="sahar" writerID="0" template="1141" nodeTypeAlias="createProperty">
      <pageTitle><![CDATA[List New Property With Real Homes]]></pageTitle>
    </createProperty>
    <uAE id="1186" key="f7585ee2-bad3-45fa-bedc-81280c1811fa" parentID="1059" level="2" creatorID="0" sortOrder="4" createDate="2017-11-14T16:20:44" updateDate="2017-11-14T16:20:44" nodeName="UAE" urlName="uae" path="-1,1059,1186" isDoc="" nodeType="1185" creatorName="sahar" writerName="sahar" writerID="0" template="0" nodeTypeAlias="uAE">
      <pROPERTIES id="1189" key="3322fc02-7127-43b3-83d6-42450e2a33e0" parentID="1186" level="3" creatorID="0" sortOrder="2" createDate="2017-11-14T16:24:21" updateDate="2017-12-07T10:57:32" nodeName="PROPERTY LIST" urlName="property-list" path="-1,1059,1186,1189" isDoc="" nodeType="1188" creatorName="sahar" writerName="sahar" writerID="0" template="0" nodeTypeAlias="pROPERTIES">
        <addProperty id="1211" key="2d84631d-dedd-43b5-9cdf-3c147cf3b433" parentID="1189" level="4" creatorID="0" sortOrder="3" createDate="2017-11-15T11:35:28" updateDate="2017-12-08T16:38:07" nodeName="JVC Building - RB1000" urlName="jvc-building-rb1000" path="-1,1059,1186,1189,1211" isDoc="" nodeType="1191" creatorName="Najm us Sahar" writerName="Najm us Sahar" writerID="0" template="1190" nodeTypeAlias="addProperty">
          <location><![CDATA[Jumeirah Village Circle]]></location>
          <address><![CDATA[JVC building]]></address>
          <totalArea>211815</totalArea>
          <sellPrice>800000000</sellPrice>
          <carParking>134</carParking>
          <category><![CDATA[Residential]]></category>
          <ddlPropertyType><![CDATA[Residential Building]]></ddlPropertyType>
          <services><![CDATA[Sale]]></services>
          <ddlCity><![CDATA[Dubai]]></ddlCity>
          <propertyTitle><![CDATA[JVC Building ]]></propertyTitle>
          <developmentHold><![CDATA[Free Hold]]></developmentHold>
          <rERAPermitNo>15744</rERAPermitNo>
          <referenceNo><![CDATA[RB1000]]></referenceNo>
          <builtUpArea>211815</builtUpArea>
          <availabilityStatus><![CDATA[Ready Now]]></availabilityStatus>
          <images><![CDATA[umb://media/132e78bcee1446de86a198db342699fb,umb://media/69a9a9a65eb247df8a8117b0eb86919f]]></images>
          <detailPageID><![CDATA[1253]]></detailPageID>
        </addProperty>
        <addProperty id="1212" key="4446f26a-fc7c-400f-aa71-adade09673dc" parentID="1189" level="4" creatorID="0" sortOrder="4" createDate="2017-11-15T11:51:14" updateDate="2017-11-24T10:52:40" nodeName="Al Waleed Building - RB1001" urlName="al-waleed-building-rb1001" path="-1,1059,1186,1189,1212" isDoc="" nodeType="1191" creatorName="sahar" writerName="sahar" writerID="0" template="1190" nodeTypeAlias="addProperty">
          <location><![CDATA[Jumeirah Village Circle]]></location>
          <address><![CDATA[Al Waleed Building]]></address>
          <mainFeature><![CDATA[sdgfsdfg]]></mainFeature>
          <totalArea>25640</totalArea>
          <sellPrice>60000000</sellPrice>
          <carParking>51</carParking>
          <category><![CDATA[Residential]]></category>
          <ddlPropertyType><![CDATA[Residential Building]]></ddlPropertyType>
          <services><![CDATA[Sale]]></services>
          <ddlCity><![CDATA[Dubai]]></ddlCity>
          <propertyTitle><![CDATA[Al Waleed Building]]></propertyTitle>
          <developmentHold><![CDATA[Free Hold]]></developmentHold>
          <rERAPermitNo>13605</rERAPermitNo>
          <referenceNo><![CDATA[RB1001]]></referenceNo>
          <builtUpArea>25640</builtUpArea>
          <availabilityStatus><![CDATA[Ready Now]]></availabilityStatus>
          <images><![CDATA[umb://media/b32491a9157f41fd8c8bfef6ca7193a4]]></images>
          <detailPageID><![CDATA[1253]]></detailPageID>
        </addProperty>
        <addProperty id="1219" key="0dcb5695-f687-41fc-a41d-e6cf2d0ada90" parentID="1189" level="4" creatorID="0" sortOrder="5" createDate="2017-11-15T12:11:57" updateDate="2017-11-28T11:07:51" nodeName="Westburry_tower_1 - OF346820" urlName="westburry_tower_1-of346820" path="-1,1059,1186,1189,1219" isDoc="" nodeType="1191" creatorName="sahar" writerName="sahar" writerID="0" template="1190" nodeTypeAlias="addProperty">
          <location><![CDATA[Business Bay]]></location>
          <address><![CDATA[Westburry Tower 1]]></address>
          <mainFeature><![CDATA[dfgsdfg]]></mainFeature>
          <totalArea>19837</totalArea>
          <bathrooms>0</bathrooms>
          <sellPrice>23900000</sellPrice>
          <carParking>42</carParking>
          <category><![CDATA[Commercial]]></category>
          <ddlPropertyType><![CDATA[Office Space]]></ddlPropertyType>
          <services><![CDATA[Sale]]></services>
          <ddlCity><![CDATA[Dubai]]></ddlCity>
          <propertyTitle><![CDATA[Westburry_tower]]></propertyTitle>
          <developmentHold><![CDATA[Free Hold]]></developmentHold>
          <rERAPermitNo>10931</rERAPermitNo>
          <referenceNo><![CDATA[OF346820]]></referenceNo>
          <bedrooms>0</bedrooms>
          <builtUpArea>19837</builtUpArea>
          <availabilityStatus><![CDATA[Ready Now]]></availabilityStatus>
          <images><![CDATA[umb://media/6b4b288c2bff48c091f58adf35368c05,umb://media/70792461501b440ea879a56c6c8edfd3]]></images>
          <detailPageID><![CDATA[1253]]></detailPageID>
        </addProperty>
      </pROPERTIES>
      <dETAILPROPERTIES id="1237" key="cda2f834-e90f-4ccc-b112-1f9cddb2debf" parentID="1186" level="3" creatorID="0" sortOrder="3" createDate="2017-11-20T12:18:35" updateDate="2017-12-07T15:29:23" nodeName="PROPERTIES" urlName="properties" path="-1,1059,1186,1237" isDoc="" nodeType="1236" creatorName="sahar" writerName="sahar" writerID="0" template="0" nodeTypeAlias="dETAILPROPERTIES">
        <propertyDetail id="1253" key="cc538ba6-b6b7-4b97-899c-4fe09195d7a2" parentID="1237" level="4" creatorID="0" sortOrder="1" createDate="2017-11-22T17:42:23" updateDate="2017-12-07T10:58:01" nodeName="Details" urlName="details" path="-1,1059,1186,1237,1253" isDoc="" nodeType="1183" creatorName="sahar" writerName="sahar" writerID="0" template="1182" nodeTypeAlias="propertyDetail">
          <pageTitle><![CDATA[Real Homes Property Details]]></pageTitle>
        </propertyDetail>
      </dETAILPROPERTIES>
    </uAE>
    <advancedSearch id="1234" key="d836d8d5-fe81-4e16-8c17-110ce2932615" parentID="1059" level="2" creatorID="0" sortOrder="5" createDate="2017-11-17T16:40:30" updateDate="2017-12-08T11:37:11" nodeName="PropertySearch" urlName="propertysearch" path="-1,1059,1234" isDoc="" nodeType="1233" creatorName="Najm us Sahar" writerName="Najm us Sahar" writerID="0" template="1232" nodeTypeAlias="advancedSearch" />
    <eNQUIRIES id="1259" key="87069808-b745-4c93-bf0e-6dad9c3488bb" parentID="1059" level="2" creatorID="0" sortOrder="6" createDate="2017-11-24T16:16:22" updateDate="2017-11-24T16:22:05" nodeName="ENQUIRIES" urlName="enquiries" path="-1,1059,1259" isDoc="" nodeType="1256" creatorName="sahar" writerName="sahar" writerID="0" template="0" nodeTypeAlias="eNQUIRIES">
      <viewEnquiry id="1272" key="bf18f959-fd6b-44f8-8fcb-0f139818e765" parentID="1259" level="3" creatorID="0" sortOrder="12" createDate="2017-11-27T12:48:37" updateDate="2017-11-27T12:48:37" nodeName="VisitEnquiry-RB1000-112717124836" urlName="visitenquiry-rb1000-112717124836" path="-1,1059,1259,1272" isDoc="" nodeType="1258" creatorName="sahar" writerName="sahar" writerID="0" template="1257" nodeTypeAlias="viewEnquiry">
        <prospectName><![CDATA[test]]></prospectName>
        <email><![CDATA[testing@test.com]]></email>
      </viewEnquiry>
      <viewEnquiry id="1273" key="fc27e239-721c-4554-a7b3-7353fdc97770" parentID="1259" level="3" creatorID="0" sortOrder="13" createDate="2017-11-27T13:03:10" updateDate="2017-11-27T13:03:10" nodeName="VisitEnquiry-RB1000-112717010310" urlName="visitenquiry-rb1000-112717010310" path="-1,1059,1259,1273" isDoc="" nodeType="1258" creatorName="sahar" writerName="sahar" writerID="0" template="1257" nodeTypeAlias="viewEnquiry">
        <enquiryDetail><![CDATA[dfasdf]]></enquiryDetail>
        <prospectName><![CDATA[df]]></prospectName>
        <email><![CDATA[dfasd@dfa.com]]></email>
        <propertyDetail><![CDATA[JVC Building  - RB1000]]></propertyDetail>
      </viewEnquiry>
      <viewEnquiry id="1275" key="76d0fc27-36e4-4933-9ccc-084e10520fdf" parentID="1259" level="3" creatorID="0" sortOrder="14" createDate="2017-11-27T13:06:39" updateDate="2017-11-27T13:06:39" nodeName="VisitEnquiry-RB1001-112717010639" urlName="visitenquiry-rb1001-112717010639" path="-1,1059,1259,1275" isDoc="" nodeType="1258" creatorName="sahar" writerName="sahar" writerID="0" template="1257" nodeTypeAlias="viewEnquiry">
        <enquiryDetail><![CDATA[sdfasdf]]></enquiryDetail>
        <prospectName><![CDATA[sdfasdf]]></prospectName>
        <email><![CDATA[test@gmail.com]]></email>
        <propertyDetail><![CDATA[Al Waleed Building - RB1001]]></propertyDetail>
      </viewEnquiry>
      <viewEnquiry id="1286" key="ca970d80-aded-4256-8774-5936efde704b" parentID="1259" level="3" creatorID="0" sortOrder="24" createDate="2017-11-27T17:21:33" updateDate="2017-11-27T17:21:33" nodeName="VisitEnquiry-OF346820-112717052133" urlName="visitenquiry-of346820-112717052133" path="-1,1059,1259,1286" isDoc="" nodeType="1258" creatorName="sahar" writerName="sahar" writerID="0" template="1257" nodeTypeAlias="viewEnquiry">
        <enquiryDetail><![CDATA[dfasdf]]></enquiryDetail>
        <prospectName><![CDATA[hello]]></prospectName>
        <email><![CDATA[hello@gmail.com]]></email>
        <propertyDetail><![CDATA[Westburry_tower-OF346820]]></propertyDetail>
      </viewEnquiry>
      <viewEnquiry id="1298" key="ea55a8b7-fd14-4fa7-a514-84e641f889c1" parentID="1259" level="3" creatorID="0" sortOrder="25" createDate="2017-11-28T10:16:59" updateDate="2017-11-28T10:16:59" nodeName="VisitEnquiry-RB1001-112817101659" urlName="visitenquiry-rb1001-112817101659" path="-1,1059,1259,1298" isDoc="" nodeType="1258" creatorName="sahar" writerName="sahar" writerID="0" template="1257" nodeTypeAlias="viewEnquiry">
        <enquiryDetail><![CDATA[fffefsdf]]></enquiryDetail>
        <prospectName><![CDATA[rrwrtwert]]></prospectName>
        <email><![CDATA[rwertw@fgsf.sdf]]></email>
        <propertyDetail><![CDATA[Al Waleed Building-RB1001]]></propertyDetail>
      </viewEnquiry>
      <viewEnquiry id="2365" key="aa7c16ed-f607-4e6a-8e8e-ff0e875147e0" parentID="1259" level="3" creatorID="0" sortOrder="26" createDate="2017-12-07T15:48:13" updateDate="2017-12-07T15:48:13" nodeName="VisitEnquiry-RB1000-120717034813" urlName="visitenquiry-rb1000-120717034813" path="-1,1059,1259,2365" isDoc="" nodeType="1258" creatorName="sahar" writerName="sahar" writerID="0" template="1257" nodeTypeAlias="viewEnquiry">
        <enquiryDetail><![CDATA[want to see this location on saturday.]]></enquiryDetail>
        <prospectName><![CDATA[xyz]]></prospectName>
        <email><![CDATA[xyz@hotmail.com]]></email>
        <propertyDetail><![CDATA[JVC Building -RB1000]]></propertyDetail>
      </viewEnquiry>
    </eNQUIRIES>
    <OFFERS id="1290" key="833c1d71-1b79-471f-a1a5-a0395d9cb3e2" parentID="1059" level="2" creatorID="0" sortOrder="7" createDate="2017-11-27T17:44:11" updateDate="2017-11-27T17:44:11" nodeName="OFFERS" urlName="offers" path="-1,1059,1290" isDoc="" nodeType="1287" creatorName="sahar" writerName="sahar" writerID="0" template="0" nodeTypeAlias="OFFERS">
      <addOffers id="1291" key="3e444982-148c-420f-beee-8f1f8ab69ff3" parentID="1290" level="3" creatorID="0" sortOrder="0" createDate="2017-11-27T18:23:44" updateDate="2017-11-27T18:23:44" nodeName="Offer-RB1000-112717062340" urlName="offer-rb1000-112717062340" path="-1,1059,1290,1291" isDoc="" nodeType="1289" creatorName="sahar" writerName="sahar" writerID="0" template="1288" nodeTypeAlias="addOffers">
        <email><![CDATA[extra@gmail.com]]></email>
        <personName><![CDATA[somebody]]></personName>
        <offerPrice><![CDATA[78000000]]></offerPrice>
        <financingRequired><![CDATA[YES]]></financingRequired>
      </addOffers>
      <addOffers id="1299" key="5548ecff-6b60-40d4-a08e-e6c53e6c0d70" parentID="1290" level="3" creatorID="0" sortOrder="7" createDate="2017-11-28T10:20:01" updateDate="2017-11-28T10:20:01" nodeName="Offer-OF346820-112817102000" urlName="offer-of346820-112817102000" path="-1,1059,1290,1299" isDoc="" nodeType="1289" creatorName="sahar" writerName="sahar" writerID="0" template="1288" nodeTypeAlias="addOffers">
        <email><![CDATA[tryme@hotmail.com]]></email>
        <personName><![CDATA[tryme]]></personName>
        <offerPrice><![CDATA[9000000]]></offerPrice>
        <financingRequired><![CDATA[YES]]></financingRequired>
      </addOffers>
      <addOffers id="1300" key="837630d4-bea9-4724-999c-96662e4b7a16" parentID="1290" level="3" creatorID="0" sortOrder="8" createDate="2017-11-28T10:21:52" updateDate="2017-11-28T10:21:52" nodeName="Offer-OF346820-112817102152" urlName="offer-of346820-112817102152" path="-1,1059,1290,1300" isDoc="" nodeType="1289" creatorName="sahar" writerName="sahar" writerID="0" template="1288" nodeTypeAlias="addOffers">
        <email><![CDATA[fgsfgs@sfsf.com]]></email>
        <personName><![CDATA[fdgsdfg]]></personName>
        <offerPrice><![CDATA[12000000]]></offerPrice>
        <financingRequired><![CDATA[NO]]></financingRequired>
      </addOffers>
      <addOffers id="1305" key="bc7aacd8-50cf-4435-8cd6-593429034001" parentID="1290" level="3" creatorID="0" sortOrder="9" createDate="2017-11-28T17:12:05" updateDate="2017-11-28T17:12:05" nodeName="Offer-RB1000-112817051205" urlName="offer-rb1000-112817051205" path="-1,1059,1290,1305" isDoc="" nodeType="1289" creatorName="sahar" writerName="sahar" writerID="0" template="1288" nodeTypeAlias="addOffers">
        <email><![CDATA[popsdf@test.ggg]]></email>
        <personName><![CDATA[testoffer]]></personName>
        <offerPrice><![CDATA[8987987]]></offerPrice>
        <financingRequired><![CDATA[NO]]></financingRequired>
      </addOffers>
    </OFFERS>
    <registerMember id="1304" key="e7e51837-5153-4a8c-9539-93a335f705d3" parentID="1059" level="2" creatorID="0" sortOrder="8" createDate="2017-11-28T13:30:23" updateDate="2017-12-05T12:53:52" nodeName="Register" urlName="register" path="-1,1059,1304" isDoc="" nodeType="1303" creatorName="sahar" writerName="sahar" writerID="0" template="1302" nodeTypeAlias="registerMember" />
    <loginMember id="1317" key="299c8d51-0fb0-4e86-af0a-7de8e20795c6" parentID="1059" level="2" creatorID="0" sortOrder="9" createDate="2017-12-05T12:56:55" updateDate="2017-12-05T12:56:55" nodeName="Login" urlName="login" path="-1,1059,1317" isDoc="" nodeType="1316" creatorName="sahar" writerName="sahar" writerID="0" template="1315" nodeTypeAlias="loginMember" />
    <logoutMember id="2320" key="28ff89c3-dd31-4deb-9f5e-cfe9f391940d" parentID="1059" level="2" creatorID="0" sortOrder="10" createDate="2017-12-06T12:38:51" updateDate="2017-12-06T12:38:51" nodeName="Logout" urlName="logout" path="-1,1059,2320" isDoc="" nodeType="2319" creatorName="sahar" writerName="sahar" writerID="0" template="2318" nodeTypeAlias="logoutMember" />
    <agentSearch id="2377" key="6dcd34b8-5c5e-402e-92d7-d6cffff53ed2" parentID="1059" level="2" creatorID="0" sortOrder="11" createDate="2017-12-08T12:51:57" updateDate="2017-12-08T15:04:45" nodeName="AgentSearch" urlName="agentsearch" path="-1,1059,2377" isDoc="" nodeType="2376" creatorName="Najm us Sahar" writerName="Najm us Sahar" writerID="0" template="2375" nodeTypeAlias="agentSearch" />
  </home>
  <error id="1063" key="a6992768-737a-4c2d-af08-0d89a0058c11" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-10-19T16:42:04" updateDate="2017-10-19T16:42:04" nodeName="404" urlName="404" path="-1,1063" isDoc="" nodeType="1062" creatorName="sahar" writerName="sahar" writerID="0" template="1061" nodeTypeAlias="error" />
</root>