<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="d52e45a7-b174-48e0-ba14-b7d496f2f6ed" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-19T10:45:21" updateDate="2017-10-19T10:45:21" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1055" creatorName="sahar" writerName="sahar" writerID="0" template="1052" nodeTypeAlias="home"></home>
</root>