<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT error ANY>
<!ATTLIST error id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="d52e45a7-b174-48e0-ba14-b7d496f2f6ed" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-19T10:45:21" updateDate="2017-10-19T10:45:21" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1055" creatorName="sahar" writerName="sahar" writerID="0" template="1052" nodeTypeAlias="home">
    <contactUs id="1067" key="f36008c7-235b-4811-b149-93c65633baa3" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2017-10-19T16:52:17" updateDate="2017-10-19T16:53:02" nodeName="contact" urlName="contact" path="-1,1059,1067" isDoc="" nodeType="1058" creatorName="sahar" writerName="sahar" writerID="0" template="1054" nodeTypeAlias="contactUs" />
  </home>
  <error id="1063" key="a6992768-737a-4c2d-af08-0d89a0058c11" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-10-19T16:42:04" updateDate="2017-10-19T16:42:04" nodeName="404" urlName="404" path="-1,1063" isDoc="" nodeType="1062" creatorName="sahar" writerName="sahar" writerID="0" template="1061" nodeTypeAlias="error" />
</root>