@inherits Umbraco.Web.Mvc.UmbracoViewPage<RealHomes.Models.MembershipLoginCMSModel>

@using RealHomes.Models;
@using Umbraco.Web

@if (Members.IsLoggedIn())
{
    using (Html.BeginUmbracoForm<RealHomes.Controllers.MembershipCMSController>("Logout", "MemberhipCMS", new { id = "logout" }, System.Web.Mvc.FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        var myUser = System.Web.Security.Membership.GetUser();
        
       
        if (myUser != null)
        {
            <strong>Logged in as </strong> <span>@Members.CurrentUserName</span>
            <button name="login" type="submit"><span>Logout</span> <i class="fa fa-arrow-right"></i></button>
        }
    }
}