@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "RealHomeSiteLayout.cshtml";

   
}
<script src="~/Scripts/CMSEnquiries.js"></script>



    
<div class="container">


    <div id="dialogEnquiry" style="display: none">
        <!--Design form here-->
        <input id="txtRefNo" type="hidden" value="" /><input id="txtPropDetail" type="hidden" value="" />
        <p><label style="width:200px">Property</label> <label id="lblPropDetail"><b> </b></label></p>
        <br /><br />
        <p><label style="width:200px">Name</label><input type="text" id="txtName" /></p>

        <p><label style="width:200px">Email</label><input type="text" id="txtEmail" /></p>

        <p><label style="width:200px">Enquiry Detail(Optional)</label><input type="text" id="txtEnqDetail" /></p>
        <br /><br />
        <p><label id="lblError" hidden="hidden"></label></p>
    </div>

    <!--Property List Started-->        
    <div id="ResultContainer" class="container">

        @{  //Render Proerties List

            //Html.RenderAction("GetProperties", "PropertySurface",new { iPageno = 1, sSortName = "", sCritria =""});
            <!--Result List-->
        }
            
    </div>

</div>
    

