@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<!-- Content Pages Banner-->
<div class="banner-buying">
    <div class="container">
        <h3><span>Contact Us</span></h3>

        @{Html.RenderPartial("SiteLayout/_Contentbanner");
        }
        
    </div>
</div>
<!--Content Pages Banner-->

<!--Contact-->
<div class="contact-top">
    <div class="container">
       <!-- <h3>Contact Us</h3>-->
        <div class="contact-top">
            <div class="col-md-6 contact-top1">
                <h4> Info</h4>
                <p class="text-contact">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took.</p>
                <div class="contact-address">
                    <div class="col-md-6 contact-address1">
                        <h5>Address</h5>
                        <p><b>Real homes</b></p>
                        <p>25478 charms of pleasur</p>
                        <p>On the other hand, we denounce</p>
                    </div>
                    <div class="col-md-6 contact-address1">
                        <h5>Email Address </h5>
                        <p>General :<a href="malito:customercare@bhomes.com"> customercare@bhomes.com</a></p>
                        <p>Office :<a href="malito:customercare@bhomes.com"> customercare@bhomes.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="contact-address">
                    <div class="col-md-6 contact-address1">
                        <h5>Phone </h5>
                        <p>Landline : +971 600 52 2233</p>
                        <p>Mobile : +971 600 52 2233</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 contact-right">

                <!-- Render the Contact from and Contact Prtial View -->
                @if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
                {
                    <div class="contact-address1">
                    <h4> Thank you</h4>
                        <p class="text-contact">Your email was sent successfully. We will get back to you soon.</p>
                        <p class="text-contact">Continue to <a href="~/">Home</a>.</p>
                    </div>
                }
                else
                {
                    //Html.RenderPartial("_Contactus");
                    Html.RenderAction("RenderForm", "ContactSurface");
                }
               
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
    </div>
</div>
