@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "RealHomeSiteLayout.cshtml";
	
	<div class="container-top">
	<h3>Ooopppsss!!! </h3>
        <p>Somethings have gone wrong, you might want to go back <a href="~/">Home</a>.</p>
	
	
	
	</div>
}