@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    
    Layout = "Master.cshtml";


}

<div  id="divPropertyDetail" class="container">
    <!--//Search Area Started-->
    
        
            <input type="hidden" id="searchcriteria" />

           @{ 
               if (Request.QueryString["PropId"] != null)
               {
                   var propNodeId = Request.QueryString["PropId"].ToString();
                   Html.RenderAction("Showdetail", "PropertyCMS", new { PropId = propNodeId });

                   //Html.RenderPartial("Propertysurface/_Details");
               }
               else
               {
                   Response.Redirect("~/404");
               }
           }
    
</div>