@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>@Umbraco.Field("pageTitle", altText: "Real Homes - One Solutions for all your Property Problems.")</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="~/Scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom Theme files -->
    <!--menu-->
    <script src="~/Scripts/scripts.js"></script>
    <link href="~/css/styles.css" rel="stylesheet">
    <!--//menu-->
    <!--theme-style-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Homes Property Business, Property Management, Holiday Homes" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- slide -->

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <!----------------------------------------------------------------------->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Scripts/header-redesign-inputvalidator0099.js"></script>

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- Include the plugin's CSS and JS: -->
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>

    <script src="~/Scripts/AutoCompleteElements.js"></script>

</head>
<body>
        <!--header-->
    @{ Html.RenderPartial("SiteLayout/_Topnavigations");}


    <!--content-->
    @RenderBody();


    @{Html.RenderPartial("SiteLayout/_footer");
    }



</body>


</html>


