@inherits Umbraco.Web.Mvc.UmbracoViewPage


<!--testimonials-->
<div class="content-bottom">
    <div class="container">
        <h3>Testimonials</h3>
        <div class="col-md-6 name-in">
            <div class=" bottom-in">
                <p class="para-in">
                    Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <i class="dolor"> </i>
                <div class="men-grid">
                    <a href="#" class="men-top"><img class="img-responsive men-top" src="images/te.jpg" alt=""></a>
                    <div class="men">
                        <span>Roger V. Coates</span>
                        <p>Ut enim ad minim</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class=" bottom-in">
                <p class="para-in">
                    Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <i class="dolor"> </i>
                <div class="men-grid">
                    <a href="#" class="men-top"><img class="img-responsive " src="images/te2.jpg" alt=""></a>
                    <div class="men">
                        <span>Ann K. Perez</span>
                        <p>Ut enim ad minim</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  name-on">
            <div class="bottom-in ">
                <p class="para-in">
                    Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <i class="dolor"> </i>
                <div class="men-grid">
                    <a href="#" class="men-top"><img class="img-responsive " src="images/te1.jpg" alt=""></a>
                    <div class="men">
                        <span>Nancy M. Picker</span>
                        <p>Ut enim ad minim</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//test-->
